.panel{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-black-gold-cool-trophy-awards-ceremony-background-design-ceremonyblack-goldluxuriousawards-ceremonyblack-image_73292.jpg") fixed;
}
p, label,a{
  color:white;
  font-size: 15px;
}
.panel-default{
  border-color: inherit;
}
input{
  text-align: center;
}
